{%load static%}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>KTU Activity Book</title>   
    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-grad-school.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/lightbox.css'%}">
    <style>
      .josiah
      {
        float:right;
        margin-left:15px;
      }
      .josiah li{
        display: inline-block;
    line-height: 79px;
    margin-right: 15px;
    position: relative;
      }
      @media screen and (max-width: 950px) {
    .josiah li {
        display: block;
        line-height: 1;
        margin-left: 0 !important;
    }
  }
      .josiah a{
        padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
      }
    </style>
  </head>
<body class="js">
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>ACTIVITY</em> BOOK</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="josiah">
        <li><a href="student/">Student</a></li>
        <li><a href="tutor/">tutor</a></li>
      </ul>
      <ul class="main-menu">
        <li><a href="#section1">Home</a></li>
        <li><a href="#section2">About</a>
        </li>
      </ul>
    </nav>
  </header>

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
     <img src="{%static 'ktu.jpg'%}" height="750" width="1500 ">

      <div class="video-overlay header-text">
          <div class="caption">
              <h2><em>KTU</em> ACTIVITY BOOK</h2>
              <div class="main-button">
                  <div class="scroll-to-section"><a href="#section2">Discover more</a></div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->
  <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-users"></i>student engagement</h4>
              </div>
              <div class="content-hide" style="display: none;">
                <p>APJ ABDUL KALAM TECHNOLOGICAL UNIVERSITY (KTU) has published the rules for assigning activity points for the students. Every Students Studying in KTU have to secure at least 100 points from various extra curricular activities. Two Credits are awarded for this activity points. Thus 100 activity point is required to pass or achieve BTech degree.</p>
                <div class="scroll-to-section"></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-certificate"></i>Activity point Track</h4>
              </div>
              <div class="content-hide" style="display: none;">
                <p>The Document Below has the details about the various activities and its corresponding points, that the college can award their students. The duration for certain activities is also provided.</p>
                <div><a href="{%static 'act.pdf'%}" target="_blank">view pdf</a></div>
            </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              
                <h4><i class="fa fa-info-circle"></i>Importance</h4>
              <div class="content-hide" style="display: none;">
                <p>KTU required the students to be masters in entrepreneurship through various entrepreneurship programs, leadership workshop ideas  ,  classroom activities for college students or interactive classroom activities like group activities for college  students  etc.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
          <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <section class="tabs-content">
                <div class="row">   
                </div>
              
              <article id="tabs-3">
                <div class="row">
                  <div class="col-md-6">
                    <img src="{%static 'ktuuu.jpg'%}" alt="" height="450">
                  </div>
                  <div class="col-md-6">
                    <h4>ACTIVITY POINTS</h4>
                    <p>Apart from technical knowledge and skills, to be successful as professionals,, KTU has introduced activity points to be earned by the students during theiracademic stay at the University covering extra-curricular and co-curricular activities. All students have to earn a minimum of 100 activity points from various activity segments Listed to qualify for the B.Tech degree. Two credits are given for this on a pass/ fail basis and is mandatory for getting the B.Tech Degree.Colleges shall consolidate the activity points earned by students on a semester basis and enter the consolidated points on an academic year basis in the KTU portal</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    
  </section>
  <em>

    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'assets/js/isotope.min.js'%}"></script>
    <script src="{%static 'assets/js/owl-carousel.js'%}"></script>
    <script src="{%static 'assets/js/lightbox.js'%}"></script>
    <script src="{%static 'assets/js/tabs.js'%}"></script>
    <script src="{%static 'assets/js/video.js'%}"></script>
    <script src="{%static 'assets/js/slick-slider.js'%}"></script>
    <script src="{%static 'assets/js/custom.js'%}"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');
        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;
          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }
        };
        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };
        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });
        $(window).scroll(function () {
          checkSection();
        });
    </script>

</em>
</body>
</html>