<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutors | login </title>
</head>
<body>
    <h1>Ktu activity book</h1>
    <h2>Tutors login page</h2>
    <h3><a href="/">home</a></h3>
    <form method="post">
        {{flag}}<br>
        <label>Username: </label>
        <input name="usr" type="text"><br>
        <label>password: </label>
        <input name="pwd" type="password"><br>
        <button type="submit">sign-in</button>
    </form>
</body>
</html>