<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student | login</title>
</head>
<body>
    <h1>Ktu acivity book</h1><br>
    <h2>Student login page</h2><br>
    <h3><a href="/">home</a></h3>
    {{flag}}
    <form method="post" style=>
        Username: 
        <input name="usr" type="text"><br>
        password: 
        <input name="pwd" type="password"><br>
        <button type="submit">Sign-in</button>
    </form>
</body>
</html>