{%load static%}
<html lang="en"><head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <title>Student | Login</title>   
    <!-- Bootstrap core CSS -->
    <link href="{%static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{%static 'assets/css/fontawesome.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/templatemo-grad-school.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/lightbox.css'%}">
    <style>
      .josiah
      {
        float:right;
        margin-left:15px;
      }
      .josiah li{
        display: inline-block;
    line-height: 79px;
    margin-right: 15px;
    position: relative;
      }
      @media screen and (max-width: 950px) {
    .josiah li {
        display: block;
        line-height: 1;
        margin-left: 0 !important;
    }
  }
      .josiah a{
        padding: 10px 15px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    color: #fff;
    border: 2px solid transparent;
    transition: all 0.5s;
      }
    </style>
</head>
<body class="js">
  <header class="main-header clearfix" role="header">
      <div class="logo">
        <a href="#"><em>ACTIVITY</em> BOOK</a>
      </div>
      <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
      <nav id="menu" class="main-nav" role="navigation">
        <ul class="josiah">
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
  </header>
  <section class="section coming-soon" data-section="section4">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-xs-12">
            <div class="continer centerIt">
              <div>
                <h4><em>Student Login</em></h4><em>
                <div class="counter">           
                  </div>
                </em></div><em>
              </em></div><em>
            </em></div><em>
          </em></div><em>
          <div class="col-md-5">
            <div class="right-content"> 

              <form id="contact" action="" method="post">
          <h5 style="color:#ffffff">{{flag}}</h5>        
                <div class="row">
                  <div class="col-md-12">
                    <fieldset>
                      <input name="usr" type="text" class="form-control" id="name" placeholder="username" required="">
                    </fieldset>
                  </div>
                  
                  <div class="col-md-12">
                    <fieldset>
                      <input name="pwd" type="password" class="form-control" id="Password" placeholder="Password" required="">
                    </fieldset>
                    
                  <script>
                    
                    </script>
                  </div>
                  <div class="col-md-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">LOGIN</button>
                    </fieldset>
                    
                  </div>
                </div>
              </form>
            </div>
          </div>
        </em></div><em>
      
      
    </em></section>
    <em>

      <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
      <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{%static 'assets/js/isotope.min.js'%}"></script>
      <script src="{%static 'assets/js/owl-carousel.js'%}"></script>
      <script src="{%static 'assets/js/lightbox.js'%}"></script>
      <script src="{%static 'assets/js/tabs.js'%}"></script>
      <script src="{%static 'assets/js/video.js'%}"></script>
      <script src="{%static 'assets/js/slick-slider.js'%}"></script>
      <script src="{%static 'assets/js/custom.js'%}"></script>
      <script>
          //according to loftblog tut
          $('.nav li:first').addClass('active');
          var showSection = function showSection(section, isAnimate) {
            var
            direction = section.replace(/#/, ''),
            reqSection = $('.section').filter('[data-section="' + direction + '"]'),
            reqSectionPos = reqSection.offset().top - 0;
            if (isAnimate) {
              $('body, html').animate({
                scrollTop: reqSectionPos },
              800);
            } else {
              $('body, html').scrollTop(reqSectionPos);
            }
          };
          var checkSection = function checkSection() {
            $('.section').each(function () {
              var
              $this = $(this),
              topEdge = $this.offset().top - 80,
              bottomEdge = topEdge + $this.height(),
              wScroll = $(window).scrollTop();
              if (topEdge < wScroll && bottomEdge > wScroll) {
                var
                currentId = $this.data('section'),
                reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                reqLink.closest('li').addClass('active').
                siblings().removeClass('active');
              }
            });
          };
          $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
            if($(e.target).hasClass('external')) {
              return;
            }
            e.preventDefault();
            $('#menu').removeClass('active');
            showSection($(this).attr('href'), true);
          });
          $(window).scroll(function () {
            checkSection();
          });
      </script>
  
  </em>

</body>
</html>