{%extends "student.html"%}
{%block style%}
<style>
   #customers {
     font-family: Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     width: 100%;
   }
   
   #customers td, #customers th {
     border: 1px solid #ddd;
     padding: 8px;
   }
   
   #customers tr:nth-child(even){background-color: #f2f2f2;}
   
   #customers tr:hover {background-color: #ddd;}
   
   #customers th {
     padding-top: 12px;
     padding-bottom: 12px;
     text-align: left;
     background-color: #04AA6D;
     color: white;
   }
   </style>
{%endblock%}
{%block head%}
<h1>notifications</h1>
{%endblock%}
{%block content%}
<h2>accepted</h2>
<table id="customers">
    <tr>
       <th>activity name</th>
       <th>activity points</th>
       <th>certificate</th>
    </tr>
    {% for i in acts%}
    <tr>
    <td> {{i.act_name}} </td>
    <td>{{i.act_points}}</td>
    <td><a href="{{i.proof.url}}">{{i.id}} {{i.act_name}}</a></td>
    </tr>
    {%endfor%}
   
</table>
<h2>rejected</h2>
<table id="customers">
    <tr>
       <th>activity name</th>
       <th>activity points</th>
       <th>certificate</th>
    </tr>
    {% for i in reject%}
    <tr>
    <td> {{i.act_name}} </td>
    <td>{{i.act_points}}</td>
    <td><a href="{{i.proof.url}}">{{i.id}} {{i.act_name}}</a></td>
    </tr>
    {%endfor%}
   
   </table>
{%endblock%}